@import "reset.css";

body {
    color: #606060;
    background-color: beige;
}

div#cockpit_panel {
    /* border: 1px #505150 solid;*/
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    box-shadow: 3px 3px 10px 3px rgba(50, 50, 50, 0.95);
    background: url("../images/normal-bg.png") repeat-y scroll 0 0 #E3DED8;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#header_panel {
    text-align: right;
    padding: 10px 10px 10px 10px;
}

div#content_panel {
    display: flex;
}

div#taskbrowser_container {
    display: none;
    padding-top: 60px;
}

div#taskbrowser_container.selected {
    display: flex;
}

div#taskbrowser_panel {
    width: 850px;
    text-align: center;
}

div#taskbrowser_dummy {
}

div#toolbar {
    width: 150px;
    text-align: center;
}

div.toolbar_button {
    margin-top: 45px;
}

img.toolbar_button {
    border: 2px solid transparent;
}

div#footer {
    width: 100%;
    border-top: inset 1px black;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: beige;
    z-index: 100;
}


div.profileContextMenuHidden {
    display: none;
}

div.profileContextMenuVisible {
    display: block;
    position: absolute;
    border: 2px solid #98050D;
    width:255px;
    background-color: tan;
    padding: 4px;
    z-index: 20;
}

p.profileContextMenuItem:hover {
    background-color: floralwhite;
}

p.profileContextMenuItem a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

div.phoneCallDialogHidden {
    display: none;
}

div.phoneCallDialogVisible {
    display: block;
    position: absolute;
    border: 2px solid #98050D;
    width: 255px;
    background-color: tan;
    padding: 4px;
    z-index: 20;
}

li.taskCoverFlowListItem {
    width: 370px;
    height: 370px;
    padding: 10px;
}

li.flipster__item--current {
    border: 2px dashed #606060;
    background-color: floralwhite;
}

.taskCoverFlowName {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 10px 18px;
}

.taskCoverFlowDescription {
    width: 100%;
    text-align: left;
    padding: 10px 18px;
    font-style: italic;
}

.taskCoverFlowHeader {
    width: 50%;
    text-align: left;
    font-weight: bold;
    padding: 10px 18px;
}

.taskCoverFlowData {
    width: 50%;
    text-align: left;
    padding: 10px 18px;
}

.taskCoverFlowData.taskToolbar {
    position: absolute;
    left: 192px;
}

.taskButton {
    display: none;
    width: 32px;
    height: 32px;
}

li.flipster__item--current .taskButton {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.acceptTaskButton {
    background-image: url("../images/startActivityActive.png");
}

.acceptTaskButton:hover {
    background-image: url("../images/startActivity_mouseover.png");
}

.acceptTaskButton.selected {
    background-image: url("../images/stopActivityActive.png");
}

.acceptTaskButton.selected:hover {
    background-image: url("../images/stopActivity_mouseover.png");
}

.flagTaskButton {
    margin-left: 25%;
    background-image: url("../images/flagActive.png");
}

li.flipster__item--current div.flagTaskButton.invisible {
    display: none;
}

.flagTaskButton:hover {
    margin-left: 25%;
    background-image: url("../images/flag_mouseover.png");
}

.resources {
    display: none;
}

form > div.formline {
    display: flex;
}

form > div.formline > div.label {
    font-weight: bold;
}

div.errMsg {
    font-weight: bold;
    color: #98050D;
}

div#finishActivityFormContainer.invisible {
    display: none;
}

div#finishActivityFormContainer.visible {
    position: absolute;
    display: block;
    width: 550px;
    height: 400px;
    margin-left: 50%;
    margin-right: 50%;
    top: 150px;
    background-color: antiquewhite;
    z-index: 99;
    border: 1px solid #A0A0A0;
    padding: 18px;
}

div#activityFormContainer.invisible {
    display: none;
}

div#activityFormContainer.visible {
    position: absolute;
    display: block;
    width: 550px;
    height: 400px;
    background-color: antiquewhite;
    z-index: 99;
    border: 1px solid #A0A0A0;
    padding: 18px;
}

div.formline {
    margin-bottom: 13px;
}

div.formlabel {
    width: 50%;
}

div.forminput {
    width: 50%;
}

div.formline.formbuttons {
    margin-top: -35px;
}

#cancelbutton {
    width: 66px;
}

#submitbutton {
    width: 66px;
    margin-left: 13px;
}

div#timeoCalendar {
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    display: none;
}

div#timeoCalendar.selected {
    display: inherit;
}

div#calendarPanel {
    position: absolute;
    left: 41px;
    text-align: center;
}

div#activityCalendarConsole {
    display: flex;
}

div#calendarWeekInfo {
    width: calc(100% - 150px);
    text-align: left;
}

div#calendarToolBar {
    display: flex;
    width: 150px;
}

div#calendarWeekViewPanel {
    display: flex;
    width: 1200px;
    box-shadow: 3px 3px 10px 3px rgba(50, 50, 50, 0.95);
}

div.weekDayPanel:hover {
    background-color: azure;
}

div.weekDayPanel {
    background-color: aliceblue;
    border: solid 1px #A0A0A0;
    width: 12.5%;
}

div.weekDayHeader {
    border-bottom: 1px dashed #A0A0A0;
    height: 42px;
    padding-top: 8px;
}

div.weekDayContent {
    height: 631px;
    position: absolute;
}

div.timePanel {
    background-color: aliceblue;
    width: 12.5%;
    border: solid 1px #A0A0A0;
}

div.timePanelHeader {
    height: 50px;
    border-bottom: 1px solid #A0A0A0;
    margin-bottom: 5px;
}

div.timePanelLabel {
    height: 25px;
}

div#calendarBackButton {
    background: url("../images/calendarBack.png") no-repeat;
    height: 48px;
    width: 48px;
}

div#calendarBackButton:hover {
    background: url("../images/calendarBack_mouseover.png") no-repeat;
    height: 48px;
    width: 48px;
}

div#calendarTodayButton {
    background: url("../images/calendarToday.png") no-repeat;
    height: 48px;
    width: 48px;
}

div#calendarTodayButton:hover {
    background: url("../images/calendarToday_mouseover.png") no-repeat;
    height: 48px;
    width: 48px;
}

div#calendarForwardButton {
    background: url("../images/calendarForward.png") no-repeat;
    height: 48px;
    width: 48px;
}

div#calendarForwardButton:hover {
    background: url("../images/calendarForward_mouseover.png") no-repeat;
    height: 48px;
    width: 48px;
}

div.activityPanel {
    position: absolute;
    display: block;
    width: 140px;
    font-size: 8px;
    background-color: powderblue;
    padding: 2px;
    // use border-box to limit div to the border dimensions
    // thus taking the padding out of the equation of div size
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.activityPanel:hover {
    background-color: aqua;
}

div.taskFilterDialogVisible {
    display: block;
    position: absolute;
    border: 2px solid #98050D;
    width: 255px;
    background-color: tan;
    padding: 4px;
    z-index: 20;
}

div.taskFilterDialogInvisible {
    display: none;
}

ul#taskStatusList {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

div.invisible {
    display: none;
}

div#tabbedPanel {
    width: 85%;
}

div#tabbedPanelHeader {
    display: flex;
    width: 48%;
    background-color: aliceblue;
}

div.tabbedPanelHeaderTab {
    background-color: aliceblue;
    padding: 20px 31px 18px 10px;
}

div.tabbedPanelHeaderTab:hover {
    background-color: azure;
}

div.tabbedPanelHeaderTab.selected {
    background-color: aqua;
}

div#projectBrowser {
    display: none;
}

div#projectBrowser.selected {
    display: inherit;
}
